<ion-header>
  <ion-img style="width: 365px; height: 100px;" src="/assets/images/logo_barcelo.png"></ion-img> 
</ion-header>

<ion-content padding class="background">
  <ion-card class="cuadro">
    <ion-card-header>
      <ion-card-title class="inicia">
        <div class= "ion-text-center">
          Regístrate
        </div>
      </ion-card-title>
      <ion-card-content class="cuestionario">
        Nombre
        <ion-item>
          <ion-input placeholder="Manuel" type="text" required="true"></ion-input>
        </ion-item>
        Apellidos
        <ion-item>
          <ion-input placeholder="Rodríguez Díaz" type="text" required="true"></ion-input>
        </ion-item>
        Número de teléfono
        <ion-item>
          <ion-input placeholder="+34600123456" type="number"  required="true"></ion-input>
        </ion-item>
        Correo electrónico
        <ion-item>
          <ion-input placeholder="123@gmail.com" type="email" required="true"></ion-input>
        </ion-item>
        Contraseña
        <ion-item>
          <ion-input placeholder="**********" type="password" required="true"></ion-input>
        </ion-item>
        Repite la contraseña
        <ion-item>
          <ion-input placeholder="**********" type="password" required="true"></ion-input>
        </ion-item>
        <ion-button class="boton" routerLink="/index" color="secondary" expand="block">
          Registrarse
        </ion-button> 
        <div class= "ion-text-center">
        ¿Ya tienes cuenta? <br>
        <a href = "/login">Inicia Sesión</a>
      </div>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
