<!DOCTYPE html>
<html>
<h1>Su opinión nos importa</h1>
<p> 
<img src="C:\Users\adolf\OneDrive\Imágenes\tarjetas-regalo-barcelo-hoteles.jpg" align="right">
</p>

<p>Con este formulario se podrá consiguir una mayor comodidad y rendimiento, cuando nos vuelva a visitar.</p>
<p> Nunca su opinión ha sido tan valorada, desde Barceló Hotels queremos que eso cambie.</p>
<p> Ayudándonos con su opinión puede optar a distintos beneficios, como:</p>
<ul>
 <li>35% de descuento en todas sus reservas y viajes.</li>
 <li>Ser el primero en enterarse de nuestras grandes promociones.</li>
 <li>Acceder a sorteos y premios exclusivos....</li>
</ul>
<p>
<a>Sus datos personales seran tratados conforme a lo establecido en la ley que corresponda.</a>
</p>
<form action="../../form-result.php" target="_blank">

  <fieldset>

    <legend>Información Personal</legend>

    <p><label> Nombre: <input type="text" name="nombre"></label></p>
    <p><label> Primer apellido: <input type="text" name="Primer apellido"></label></p>
    <p><label> Segundo apellido: <input type="text" name="Segundo apellido"></label></p>
    <p><label> Dirección de su domicilio: <input type="text" name="Calle"></label></p>
    <p><label>Dirección de correo electrónico: <input type="text" name="correo"></label></p>

  </fieldset>

  <fieldset>

    <legend>Opinión</legend>

    <p>

      ¿Cómo nos ha conocido?<br>
      </br>

      <label><input type="checkbox" name="html"> Amigos o conocidos</label>

      <label><input type="checkbox" name="graficos"> Redes sociales</label>

      <label><input type="checkbox" name="videojuegos"> Publicidad</label>

      <label><input type="checkbox" name="arte"> Otro</label>

      <label><input type="checkbox" name="musica"> Música</label>

         <p><label> ¿Qué es lo que mejoraría su experiencia en la próxima visita? <input type="text" name="visita"></label></p>
  <p><label> ¿Tiene alguna queja o sugerencia? <input type="text" name="visita"></label></p>
</fieldset>
  <p>
    <input type="submit" value="Enviar mensaje">

    <input type="reset" value="Cancelar">

  </p>

</form>
</html>