<ion-header [translucent]="true" collapse = "ios">
  <ion-toolbar>
    <ion-title routerLink = "/index">
      Occidental Roca Negra
    </ion-title>
    <ion-buttons slot = "start">
    <ion-menu-button menu = "main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-list slot="end" id = "languages">
      <ion-item>
        <ion-select interface="dropdownselection" placeholder="Idioma" >
          <ion-select-option value="español">Esp</ion-select-option>
          <ion-select-option value="ingles">Eng</ion-select-option>
          <ion-select-option value="aleman">Deu</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>  
  </ion-toolbar>
</ion-header>

<ion-content pading class="background">
  <ion-item>
    <ion-label>Danos tu opinión: </ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Introduce tu comentario:"></ion-textarea>
  </ion-item>
  <ion-button  expand = "full" color = "success" routerLink = "/index">Enviar comentario</ion-button>
</ion-content>