<ion-header>
  <ion-img style="width: 365px; height: 100px;" src="/assets/images/logo_barcelo.png"></ion-img> 
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Términos y condiciones</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        I.- ¿Quién es el responsable del tratamiento de sus datos?
        El responsable del tratamiento de sus datos es Barceló Gestión Hotelera, S.L. (en adelante en lo que respecta a este documento, “BGH” o “Barceló”) con domicilio social en c/ Josep Rover Motta, 27, 07006, de Palma de Mallorca. Si tiene alguna consulta relativa a protección de datos puede dirigirse a la Oficina de Protección de datos del Grupo Barceló a través del correo dpo@barcelo.com.

        II.- ¿Con qué finalidad y legitimación tratamos sus datos?
        BGH informa al interesado que sus datos serán tratados por Barceló, con las siguientes finalidades: 

        1. Tratamiento de tus datos de tarjeta bancaria por el proveedor de servicios de pago. En el caso en que el usuario reserve su alojamiento a través de los canales indicados en el apartado 1, los datos de su tarjeta se facilitarán de manera automática al proveedor de servicios de pago, a fin de efectuar los cargos correspondientes en el marco de esta reserva. El proveedor de servicios de pago conservará los datos de la tarjeta durante un tiempo limitado, únicamente para efectuar los cobros de posibles cargos adicionales que se generen tal y como se indica en los Términos y Condiciones de la reserva (posibles ampliaciones de reserva, cargos por modificaciones o cancelaciones, etc.).

        BGH no conservará el dato de la tarjeta del usuario, sino que serán almacenados en un entorno seguro por parte del proveedor de servicios de pago con arreglo a su normativa específica. En este sentido, BGH tratará únicamente la confirmación de si el usuario ha abonado la reserva o cargos adicionales, así como el token de la tarjeta bancaria (un código específico vinculado a la tarjeta, pero que no permite utilizarla) para solicitar al proveedor que se efectúen los cobros por cargos adicionales.

        Legitimación: Este tratamiento es necesario para la ejecución del contrato.

        2. Gestión de la reserva y servicios contratados. Para poder gestionar y formalizar la compra de productos y prestación de los servicios ofrecidos por BGH, el usuario dispone de dos canales directos: página web (Barcelo.com) o call center.


        En caso de que la contratación sea realizada por medios telefónicos, BGH procederá a la grabación de la llamada con el objetivo de acreditar y verificar la contratación realizada por el usuario. BGH informará siempre de la grabación de la llamada, entendiendo el usuario que la continuación con la llamada implica su conformidad con dicha grabación y teniendo en cuenta que la no conformidad implicará la imposibilidad de gestionar la petición de reserva que el usuario pretenda realizar.

        Para gestionar la reserva solicitada por el usuario, BGH deberá tratar los datos personales que el usuario facilite a través de los formularios de recogida de datos.

        Bajo el mismo fin, BGH comunicará los datos del usuario a la entidad titular del hotel dependiendo del hotel elegido en el proceso de contratación. Este envío de información puede suponer la realización de una transferencia internacional de datos a un país que no ofrezca el mismo nivel de protección de datos personales que la Unión Europea. Según lo dispuesto por la normativa de protección de datos, la transferencia internacional será realizada en ejecución del contrato solicitado por el usuario. Los datos que se comunicarán a dichas entidades serán los imprescindibles para poder tramitar reserva del hotel seleccionado por el usuario y sólo serán utilizados por estas con esta finalidad.

        Del mismo modo, BGH tratará aquella información necesaria para gestionar las peticiones de modificación o anulación de reservas solicitadas por el usuario.

        En caso de que en campos de redacción libre o mediante petición al agente del call center, el usuario facilite datos relativos a su salud para gestionar servicios específicos, BGH entiende que dichos datos son comunicados expresa y voluntariamente por el usuario, puesto que no existe petición previa de esta información y únicamente serán tratados para gestionar la petición del usuario (por ejemplo, habitaciones adaptadas en base a necesidades especiales).

        Legitimación: Este tratamiento es necesario para la ejecución del contrato. 

        3. Envío de recordatorios de no finalización de contratación(carrito abandonado). BGH, bajo petición específica del usuario, podrá enviar a dicho usuario recordatorios sobre la no finalización de una contratación que el mismo usuario haya iniciado, teniendo en cuenta aquella información que el usuario haya podido incluir en la página web en el formulario de pago y solo en caso de que el usuario haya aceptado expresamente la recepción del recordatorio mencionado en ese momento de la contratación no finalizada.


        Legitimación: Este tratamiento solo será realizado si BGH cuenta con el consentimiento del usuario mediante el marcado positivo de la solicitud de consentimiento que se mostrará durante el proceso de contratación de una reserva. No obstante, en caso de que el usuario se haya identificado como usuario myBarceló, BGH realizará este tratamiento de datos en base a un interés legítimo dado que el usuario ya forma parte de myBarceló y la única finalidad es recordar una contratación no finalizada.  

        4. Cumplimiento de las obligaciones de índole contable, legal, fiscal y administrativa.

        Legitimación: Este tratamiento es necesario para la ejecución del contrato. 

        5. Remisión por medios electrónicos, de información acerca de ofertas y promociones sobre productos y servicios ofertados por BGH.1. Con el fin de poder ofrecer al usuario productos y servicios que puedan ser de su interés se le remitirán ofertas sobre productos y servicios relacionados con los contratados con BGH.

        En su caso, el usuario que haya formalizado su alta en myBarceló de acuerdo al párrafo 10, podrá recibir comunicaciones comerciales especiales para los usuarios del programa con descuentos u ofertas exclusivas dirigidas únicamente a tales usuarios.  

        Legitimación: Este tratamiento resulta necesario para cumplir con aquellas obligaciones legales marcadas por la Ley de Servicios de la Sociedad de la Información y Comercio Electrónico, así como satisfacer intereses legítimos de Barceló en garantizar la seguridad de la red y de la información. 

        6. Para el envío de comunicaciones comerciales con ofertas relacionadas con productos y/o servicios que ya tenga contratados o haya contratado en el pasado con BGH, que puedan ser atractivas para el usuario, los datos personales podrán ser tratados para la elaboración de perfiles basado en fuentes internas (ej. datos de navegación de cookies, históricos y estadísticos de contratación de productos de BGH) cuyos resultados permitan la confección y análisis de productos personalizados, a través de segmentación en distintos grupos en relación a patrones comunes. Dichos perfilados serán utilizados únicamente para enviarle comunicaciones personalizadas acerca de productos y/o servicios ofertados por BGH.

        BGH informa que, para cumplir con sus finalidades de mercadotecnia y mejora continua de sus productos, utiliza un proveedor ubicado en Estados Unidos, denominado Salesforce Inc., produciéndose una transferencia Internacional de los datos relativos a sus usuarios. Dicho proveedor se encuentra adherido al acuerdo Privacy Shield, que regula las transferencias internacionales entre responsables ubicados en la Unión Europea y aquellos localizados en Estados Unidos, garantizando que la transferencia se realizará en los términos del contenido del acuerdo y que el proveedor tratará sus datos conforme a las estipulaciones en dicho acuerdo reflejadas. 

        Legitimación: Este tratamiento es necesario para la satisfacción de intereses legítimos de BGH. 

        7. Envío de comunicaciones comerciales sobre ofertas no relacionadas con los servicios y/o productos contratados.BGH podrá remitirle ofertas promocionales sobre determinados productos que el usuario pueda disfrutar en el hotel (p.ej., mobiliario de la habitación reservada, SPA, Golf, Barceló Experience). Del mismo modo, BGH podrá enviar información sobre actividades relacionadas con el turismo y el ocio, como actividades culturales, excursiones, eventos deportivos, etc. que puedan ofrecerse o no en conjunto con nuestros servicios de alojamiento en nuestros hoteles. 

        Legitimación: Este tratamiento solo será realizado si BGH cuenta con el consentimiento del usuario. 

        8. Comunicación de sus datos personales a sociedades titulares de hoteles Barceló para la personalización de los servicios al usuario en el hotel. BGH podrá comunicar sus datos a la sociedad titular del hotel de la marca Barceló en el que el usuario hubiera efectuado la reserva con el fin de mejorar la experiencia de dicho usuario una vez alojado en el hotel. De este modo, BGH comunicará a la sociedad titular del hotel aquella información derivada de la relación entre BGH y el usuario y aquella obtenida de otras fuentes de acuerdo a lo dispuesto en el párrafo 8. 

        Esta comunicación puede suponer la realización de transferencias internacionales de datos cuando el hotel destinatario de los datos se encuentre ubicado fuera de la Unión Europea. En cualquier caso, los datos del usuario solo serán comunicados bajo consentimiento expreso del mismo y al hotel seleccionado por el usuario para la personalización del servicio en el hotel destinatario de la reserva. 

        Legitimación: Este tratamiento sólo será realizado si BGH cuenta con el consentimiento del usuario. 

        9. Realización de análisis de mercado. BGH, con el fin de poder prestar a sus usuarios servicios más personalizados, elaborará perfiles basados en datos extraídos de las ventas realizadas a sus usuarios, así como atendiendo a las preferencias turísticas, historial de viajes y capacidad económica de estos. Los datos utilizados en dichos perfilados podrán haberse obtenido tanto de la información generada por parte del usuario en el hotel en el cual se ha hospedado, como extraída de fuentes externas (por ejemplo: internet, redes sociales). Esta información resulta de gran utilidad para BGH de cara a ofrecer a sus usuarios productos personalizados en función de los intereses comerciales mostrados en utilización de los servicios ofrecidos en los hoteles, de tal forma que pueda mejorarse la experiencia del usuario tanto en la prestación del servicio solicitado como en futuras contrataciones. 

        BGH informa que, para cumplir con esta finalidad, utilizará igualmente a su proveedor ubicado en Estados Unidos, denominado Salesforce Inc. El usuario puede consultar la información sobre la transferencia internacional en el párrafo 5 y el apartado IV.

        Legitimación: Este tratamiento solo será realizado si BGH cuenta con el consentimiento del usuario. 

        10. Gestión del alta en la newsletter para remisión, por medios electrónicos, de información acerca de ofertas y promociones sobre productos y servicios ofertados por BGH. El usuario puede solicitar su alta en la newsletter de BGH a través del marcado del botón “Quiero suscribirme”. A partir de ese momento, BGH podrá remitirle periódicamente la mencionada newsletter que contenga información sobre productos y servicios ofrecidos por BGH.

        Legitimación: Este tratamiento sólo será realizado si BGH cuenta con el consentimiento del usuario al marcar la opción de suscripción a la newsletter. 

        11. Alta del usuario en el Programa de Fidelización myBarceló. BGH tratará aquella información identificativa necesaria para posibilitar el alta del usuario en el Programa de fidelización myBarceló, destinado a que el usuario pueda disfrutar de determinados descuentos en la contratación de productos de BGH, consultar información relativa a los hoteles o disfrutar de servicios o beneficios únicamente destinados a los usuarios de myBarceló. 

      </p>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-checkbox slot="start" required="true"></ion-checkbox>
    <ion-label>
      He leido y acepto <br>los términos y condiciones
    </ion-label>
  </ion-item>
  <ion-button class="boton" routerLink="/login" color="secondary" expand="block">
    Siguiente
  </ion-button> 
</ion-content>
