<ion-header [translucent]="true" collapse = "ios">
  <ion-toolbar>
    <ion-title routerLink = "/home">
      Occidental Roca Negra
    </ion-title>
    <ion-buttons slot = "start">
    <ion-menu-button menu = "main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-list slot="end" id = "languages">
      <ion-item>
        <ion-select interface="dropdownselection" placeholder="Idioma" >
          <ion-select-option value="español">Esp</ion-select-option>
          <ion-select-option value="ingles">Eng</ion-select-option>
          <ion-select-option value="aleman">Deu</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>  
  </ion-toolbar>
</ion-header>


<ion-content pading class="background">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName = "name" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      El nombre es obligatorio.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
      El nombre tiene un mínimo de dos carácteres.
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="surname" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.surname.errors?.required">
      El apellido es obligatorio.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.surname.errors?.minlength">
      El apellido tiene un mínimo de dos carácteres.
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input formControlName = "email" type="email" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      El correo electrónico es obligatorio.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Introduzca un correo electrónico válido.
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Número de reserva</ion-label>
      <ion-input length="10" formControlName="reserva" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.reserva.errors?.required">
      El número de reserva es obligatorio.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.reserva.errors?.pattern">
      Introduzca un número.
    </span>
    <ion-item lines="full">
      <ion-label position="stacked">Fecha de entrada</ion-label>
      <ion-input formControlName = "date" type="date" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.date.errors?.required">
      Seleccione una fecha.
    </span>

    <ion-button type = "submit" expand = "block">Buscar reserva</ion-button>
  </form>

</ion-content>
