ion-card-content.cuestionario{
    font-size: x-large;
}

ion-card-title.inicia{
    font-size: xx-large;
}

ion-content.background{
    --background: url(/assets/images/roca_negra.jpg) 0 0/100% 100% no-repeat;
}

ion-card.cuadro{
    --background: #FFFFFF;
}