<ion-app>
  <ion-menu menuId="main-menu" content-id = "main">
    <ion-header>
      <ion-toolbar>
        <ion-title routerLink = "/index"><ion-icon name = "home"></ion-icon> Occidental Roca Negra</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink = "/habitaciones">
          <ion-icon name ="bed-outline" slot = "start"></ion-icon>
          <ion-label>Habitaciones</ion-label>
        </ion-item>
        <ion-item >
          <ion-icon name ="restaurant-outline" slot = "start"></ion-icon>
          <ion-label>Carta Restaurante</ion-label>
        </ion-item>
        <ion-item routerLink = "/eventos">
          <ion-icon name ="walk-outline" slot = "start" ></ion-icon>
          <ion-label>Actividades y servicios</ion-label>
        </ion-item>
        <ion-item routerLink = "/opinion">
          <ion-icon name ="happy-outline" slot = "start"></ion-icon>
          <ion-label>Danos tu opinión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  

  
  <ion-router-outlet id = "main"></ion-router-outlet>
</ion-app>
