.facebook{
    --ion-item-background:#4267B2;

}

.instagram{
    --ion-item-background: #C13584;
}

.twitter{
    --ion-item-background: #00acee;
}

.chat{
    --ion-item-background:#015f01d5;
}

ion-content.background{
        --background: url(/assets/images/rocanegra.jpg) 0 0/100% 100% no-repeat;
}
    