<ion-header [translucent]="true" collapse = "ios">
  <ion-toolbar>
    <ion-title routerLink = "/home">
      Occidental Roca Negra
    </ion-title>
    <ion-buttons slot = "start">
    <ion-menu-button menu = "main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-list slot="end" id = "languages">
      <ion-item>
        <ion-select interface="dropdownselection" placeholder="Idioma" >
          <ion-select-option value="español">Esp</ion-select-option>
          <ion-select-option value="ingles">Eng</ion-select-option>
          <ion-select-option value="aleman">Deu</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>  
  </ion-toolbar>
</ion-header>

<ion-content pading class="background">
  
  <ion-card class="texto">
    <ion-img src = "/assets/images/cycling.jpg"></ion-img>
    <h1>Cycling-friendly</h1>
    <ion-item>
      En Hotel & Spa Occidental Roca Negra, el cicloturista dispone de varias rutas donde practicar deporte y disfrutar a su vez de bellos paisajes de mar y montaña. El norte de la isla es conocido por su diversidad de terrenos que posibilitan la práctica de las distintas modalidades de ciclismo. Asimismo sus tranquilas carreteras cuentan con poco tráfico y con la colaboración de la Guardia Civil de Tráfico.
    </ion-item>
    
  </ion-card>


  <ion-card class = "texto">
    
    <ion-img src = "/assets/images/trekking.jpg"></ion-img>
    <h1>Trekking</h1>
    <ion-item>
      Parajes naturales de singular belleza, grandes playas de arena dorada o reductos históricos que reviven ancestrales tradiciones son algunas de las alternativas que ponemos al alcance de tu mano. Te invitamos a poner en práctica cualquiera de nuestras rutas por el norte de la isla… ¡Gran Canaria sorprende a sus visitantes!
    
    </ion-item>
    
  </ion-card>
  
  <ion-card>
    <h1>Rutas</h1>
  <ion-slides [options] = "option" class = "ion-margin-top">
    <ion-slide>
      <ion-card class="foto">
        <img src = "assets/images/r1.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="foto">
        <img src = "assets/images/r2.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="foto">
        <img src = "assets/images/r3.jpg">
      </ion-card >
    </ion-slide>
    <ion-slide>
      <ion-card class="foto">
        <img src = "assets/images/r4.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="foto">
        <img src = "assets/images/r5.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="foto">
        <img src = "assets/images/r6.jpg">
      </ion-card>
    </ion-slide>
   </ion-slides>
 </ion-card>
</ion-content>
