<ion-header [translucent]="true" collapse = "ios">
  <ion-toolbar>
    <ion-title routerLink = "/home">
      Occidental Roca Negra
    </ion-title>
    <ion-buttons slot = "start">
    <ion-menu-button menu = "main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-list slot="end" id = "languages">
      <ion-item>
        <ion-select interface="dropdownselection" placeholder="Idioma" >
          <ion-select-option value="español">Esp</ion-select-option>
          <ion-select-option value="ingles">Eng</ion-select-option>
          <ion-select-option value="aleman">Deu</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id = "classic">
    <ion-title>Classic</ion-title>
    <ion-img src = "/assets/images/clasicc.jpg"></ion-img>
      <ion-list id = "classiclist">
        <ion-item>
          <ion-label>
            Habitación con dos camas (0,9x2m), Sat-TV, caja fuerte(gratis).
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
          Mini-nevera, aire acondicionado.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
          Sofá cama para el tercer adulto o dos niños.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Baño con WC, secador de pelo y espejo de aumento.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Balcón amueblado (10 m2).
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Ocupación máxima: 3 adultos o 2 adultos y 2 niños (cuna aparte)
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button color = "success" expand = "full" routerLink = "/reservar">Buscar Disponibilidad</ion-button>
  </ion-card>

  <ion-card id = "classic2">
    <ion-title>Classic Vista Mar</ion-title>
    <ion-img src = "/assets/images/clasicc2.jpg"></ion-img>
      <ion-list id = "classiclist2">
        <ion-item>
          <ion-label>
            Habitación con dos camas (0,9x2m), Sat-TV, caja fuerte(gratis).
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Mini-nevera, aire acondicionado, kettle.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Sofá cama para el tercer adulto o dos niños.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Baño con ducha, WC y secador de pelo.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Balcón o terraza amueblado con vistas al mar.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Ocupación máxima: 3 adultos o 2 adultos y 2 niños (cuna cabe aparte)
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button color = "success" expand = "full" routerLink = "/reservar">Buscar Disponibilidad</ion-button>
  </ion-card>

  <ion-card id = "classic3">
    <ion-title>Honeymoon</ion-title>
    <ion-img src = "/assets/images/clasicc3.jpg"></ion-img>
      <ion-list id = "classiclist3">
        <ion-item>
          <ion-label>
            Habitación con cama de matrimonio, Sat-TV, caja fuerte (gratis).
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Mini-nevera, aire acondicionado.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Sofá cama para el tercer adulto o dos niños.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Baño con ducha, WC, secador de pelo, albornoz y slippers.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Balcón grande con cama balinesa.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Ocupación máxima: 3 adultos o 2 adultos y 2 niños (cuna cabe aparte)
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button color = "success" expand = "full" routerLink = "/reservar">Buscar Disponibilidad</ion-button>
  </ion-card>

  <ion-card id = "classic3">
    <ion-title>Honeymoon</ion-title>
    <ion-img src = "/assets/images/clasicc3.jpg"></ion-img>
      <ion-list id = "classiclist3">
        <ion-item>
          <ion-label>
            Habitación con cama de matrimonio, Sat-TV, caja fuerte (gratis).
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Mini-nevera, aire acondicionado.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Sofá cama para el tercer adulto o dos niños.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Baño con ducha, WC, secador de pelo, albornoz y slippers.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Balcón grande con cama balinesa.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Ocupación máxima: 3 adultos o 2 adultos y 2 niños (cuna cabe aparte)
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button color = "success" expand = "full" routerLink = "/reservar">Buscar Disponibilidad</ion-button>
  </ion-card>

  <ion-card id = "classic4">
    <ion-title>Junior Suite</ion-title>
    <ion-img src = "/assets/images/clasicc4.jpg"></ion-img>
      <ion-list id = "classiclist4">
        <ion-item>
          <ion-label>
            Habitación con dos camas (0,90x2m), Sat-TV, caja fuerte (gratis).
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Mini-nevera, aire acondicionado, kettle.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Sofá cama para el tercer adulto o dos niños.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Baño con ducha, WC y secador de pelo.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Balcón o terraza amueblado con vistas al mar.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Ocupación máxima: 3 adultos o 2 adultos y 2 niños (cuna cabe aparte)
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-button color = "success" expand = "full" routerLink = "/reservar">Buscar Disponibilidad</ion-button>
  </ion-card>

  <ion-card id = "classic5">
    <ion-title>Suite Familiar</ion-title>
    <ion-img src = "/assets/images/clasicc5.jpg"></ion-img>
      <ion-list id = "classiclist5">
        <ion-item>
          <ion-label>
            Sat-TV, caja fuerte (gratis), mini-nevera, sofá-cama.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Aire acondicionado.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Sofá cama para el tercer adulto o dos niños.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            2 Baños con ducha, WC y secador de pelo.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Balcón o terraza amueblada interior.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Ocupación máxima: 5 adultos o 2 adultos y 4 niños (cuna cabe aparte)
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button color = "success" expand = "full" routerLink = "/reservar">Buscar Disponibilidad</ion-button>
  </ion-card>

  

</ion-content>
